body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
}

.sidebar {
    background-color: #122e50;
    color: white;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    background-color: #f0f4f7;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005b99;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.new-publication {
    background-color: #a8e6cf;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.project {
    background-color: #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.project-info {
    display: flex;
    align-items: center;
}

.project-image {
    background-color: #eee;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.project-text h2 {
    margin: 0;
    font-size: 18px;
}

.project-text p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
}

.project-actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
}